<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/head :: head('Admin Dashboard')">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
</head>
<body>
    <nav th:replace="partials/navbar :: nav"></nav>
    <div align="center">
    </div>
    <div class="container" style="position: absolute; margin-left: 5%; width: 90%;">
        <div class="container" style= "width: 100%;">
            <div class="card row" style="position: inherit;">
                <div class="card-tabs" style="height: 20px;">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#SAPL">San Antonio Pinball League</a></li>
                        <li class="tab"><a href="#Belles_Chimes" class="active">Belles and Chimes </a></li>
                    </ul>
                </div>

                <div class="card-content grey lighten-4" >
                    <!--<form th:action="@{/admindashboard/creategrouping}" method="post">-->
                        <div id="SAPL">
                            <div align="center">
                                <h1>SAPL Stats</h1>
                                <!--<a href="/SAPL">Create New Product</a>-->
                                <br/><br/>
                                <!--cellpadding="50"-->
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Machines</th>
                                        <th>Highest score</th>
                                        <!--<th>Player</th>-->
                                        <th>Last Played</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="sapl : ${oneLeagueScores}">
                                        <td th:text="${sapl.getMachine().id + ' ' + sapl.getMachine().name}">machine name</td>
                                        <td th:text="${sapl.score}">player score</td>
                                        <td th:text="${sapl.date}">Last Played</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br />
                        </div>

                     <div id="Belles_Chimes">
                            <div align="center">
                                <h1>Belles and Chimes Stats</h1>
                                <!--<a href="/SAPL">Create New Product</a>-->
                                <br/><br/>
                                <!--cellpadding="50"-->
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Machines</th>
                                        <th>Highest score</th>
                                        <!--<th>Player</th>-->
                                        <th>Last Played</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="Belles_Chimes : ${twoLeagueScores}">
                                        <td th:text="${Belles_Chimes.getMachine().id + ' ' + Belles_Chimes.getMachine().name}">machine name</td>
                                        <td th:text="${Belles_Chimes.score}">player score</td>
                                        <td th:text="${Belles_Chimes.date}">Last Played</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br />
                        </div>


                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>

    <footer>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <div th:replace="partials/footer :: footer"></div>
        <th:block th:include="partials/footer :: scripts" />
    </footer>

</body>
</html>