<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('League Dashboard')"></head>
<body class="gradient-45deg-green-teal">
<nav th:replace="partials/navbar :: nav"></nav>

<main>
<h2 class="center-align"> – <span th:text="${league.name}" ></span> – </h2>

<div class="container" style="width: 70%;">
    <h4 class="center-align">League Members</h4>
    <div class="header-shadow" style="padding: 1em;">
        <table class=" col m6 s12 offset-m3 responsive-table highlight">
            <thead>
            <tr>
                <th></th>
                <th>User Name</th>
                <th>Gender</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="all : ${SAPLall}">
                <tr>
                    <td th:text="${SAPLall.indexOf(all) + 1 }"></td>
                    <td th:text="${all.username}"></td>
                    <td th:text="${all.gender}"></td>
                    <td th:text="${all.points}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<br />
<br />

<div class="container" style="width: 90%;">
    <div class="row" style="position: inherit;">
        <div>
            <div class="header-shadow" style="padding: 1em;">
            <div class="card-tabs" style="height: 20px;">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a href="#Machine">Top Machine Scores</a></li>
                    <li class="tab"><a href="#LL" class="active">League Top Scores </a></li>
                </ul>
            </div>

            <div>
                <div id="Machine">
                    <div align="center">
                        <br/>
                        <h4 class="center-align">Top Machine Scores</h4>
                        <br/>
                        <table class="responsive-table centered striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Machine Name</th>
                                <th>Gender</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block>
                                <tr th:each="topM : ${topsMachinesScores}">
                                    <td th:text="${topsMachinesScores.indexOf(topM) + 1 }"></td>
                                    <td th:text="${topM.getMachine().name}"></td>
                                    <td th:text="${topM.getUser().gender}"></td>
                                    <td th:text="${topM.getUser().username}"></td>
                                    <td th:text="${#dates.format(topM.date, 'dd-MMM-yyyy')}"></td>
                                    <td th:text="${topM.score}"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <br/>
                </div>

                <div id="LL">
                    <div align="center">
                        <br/>
                        <h4 class="center-align">League Top Scores</h4>
                        <br/>
                        <table class="responsive-table centered striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>User Name</th>
                                <th>Gender</th>
                                <th>Machine</th>
                                <th>Date</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block>
                                <tr th:each="topSAPL : ${topTenScores}">
                                    <td th:text="${topTenScores.indexOf(topSAPL) + 1 }"></td>
                                    <td th:text="${topSAPL.getUser().username}"></td>
                                    <td th:text="${topSAPL.getUser().gender}"></td>
                                    <td th:text="${topSAPL.getMachine().name}"></td>
                                    <td th:text="${#dates.format(topSAPL.date, 'dd-MMM-yyyy')}"></td>
                                    <td th:text="${topSAPL.score}"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
    </div>
</div>

</main>
<footer>
    <div th:replace="partials/footer :: footer"></div>
    <th:block th:include="partials/footer :: scripts"/>
</footer>
</body>
</html>
