<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('League Dashboard')"></head>
<body class="grey lighten-2">
    <nav th:replace="partials/navbar :: nav"></nav>

    <main>
        <div id="index-banner" class="parallax-container center">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h3 class="header col s12 light ">League View</h3>
                    </div>
                    <div class="row center " style="margin-top: 2rem;">
                        <div class="col m6">
                            <a class="btn-large waves-effect waves-light red accent-3”" th:href="@{'/leagues/SAPL'}">SAPL</a>
                        </div>
                        <div class="col m6">
                            <a class="btn-large  waves-effect waves-light red accent-3”" th:href="@{'/leagues/Belles'}">Belles</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="img/pinballabstract1.jpg" alt="Unsplashed background img 1" class="header-img"/></div>
        </div>

        <div class="container">
            <h3 class="center-align">Top Rankings</h3>
            <div class="row" style="margin-top: 2rem;">
                <table class=" card-panel indigo lighten-5  responsive-table highlight z-depth-5 striped highlight">
                    <thead>
                    <tr>
                        <th>Profile</th>
                        <th>Place</th>
                        <th>Points</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>League</th>
                    </tr>
                    </thead>
                    <tbody class="collection">
                    <th:block th:each="user : ${users}">
                        <tr>
                            <td>
                                <img src="img/logo.png" alt="" class="circle"  style="width: 30px; height: 30px;"/>
                            </td>
                            <td>
                                <span>#</span><span th:text="${users.indexOf(user)} + 1"></span><span> Place</span>
                            </td>
                            <td th:text="${user.points}">points</td>
                            <td th:text="${user.username}">Name</td>
                            <td th:text="${user.gender}">Gender</td>
                            <td th:text="${user.getLeague().name}">League</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div> <!--User Stats-->
        <!--bottom paralax -->
        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center"><!--Live Standings-->
                        <h1 class="header col s12 light"><a class="btn-large pulse waves-effect waves-light red accent-3”" th:href="@{'/weeks-scores'}">Live Standings</a> </h1>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="img/pinballindex.jpg" alt="Unsplashed background img 2"/></div>
        </div>

    </main>


    <footer>
        <div th:replace="partials/footer :: footer"></div>
        <th:block th:include="partials/footer :: scripts" />
    </footer>
</body>
</html>
