<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/head :: head('Admin Dashboard')">
</head>
<body class="grey lighten-2">

<nav th:replace="partials/navbar :: nav"></nav>
<main>

    <h2 class="center">Welcome, <span th:text="${adminname}"></span></h2>

    <div class="container">

        <div class="row">

            <div class="col s12 m4 l4"><img src="https://cdn.dribbble.com/users/406059/screenshots/2562524/rainy.gif" alt="Unsplashed background img 1"
                                            class="admin-img responsive-img"/></div>

            <div class="col s12 m8 l8">
                <table class="responsive-table centered highlight">
                    <thead>
                    <tr>
                        <th>ID#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>League</th>
                        <th>Date of Birth</th>
                        <th>Manage</th>
                        <th>Admin</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user : ${users}">
                        <tr>
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName + ' ' + user.lastName}"></td>
                            <td th:text="${user.email}">theiremail@live.com</td>
                            <td th:text="${user.gender}"></td>
                            <td th:text="${user.getLeague().name}"></td>
                            <td th:text="${user.DOB}"></td>
                            <td>
                                <a class="btn btn-small light-blue darken-2 center" th:hidden="${user.id}"
                                   th:href="@{'/edituser/'+${user.id}}">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a class="btn btn-small red center" th:hidden="${user.id}"
                                   th:href="@{'/user/' +${user.id}+ '/delete'}">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                            <td th:if="${user.isAdmin()}"><a
                                    class="btn-floating waves-effect waves-light amber darken-4" th:hidden="${user.id}"
                                    th:href="@{'/isNotAdmin/'+${user.id}}">
                                <i class="material-icons">clear</i>
                            </a></td>
                            <td th:if="${!user.isAdmin()}"><a
                                    class="btn-floating waves-effect waves-light amber darken-4" th:hidden="${user.id}"
                                    th:href="@{'/isAdmin/'+${user.id}}">
                                <i class="material-icons">add</i>
                            </a></td>
                        </tr>
                    </th:block>
                    </tbody>


                </table>
            </div>
        </div>

        <br/>
        <div class="center">
            <a class="waves-effect waves-light btn light-blue darken-2" th:href="@{'/creategroup'}">Manage Groups</a>
            <a class="waves-effect waves-light btn light-blue darken-2 " th:href="@{'/createmachine'}">Manage
                Machines</a>
            <a class="waves-effect waves-light btn light-blue darken-2" th:href="@{'/createleague'}">Manage Leagues</a>
        </div>
        <br/>


        <div class="container" style="width: 100%;">
            <div class="card row" style="position: inherit;">
                <div class="card-tabs" style="height: 20px;">
                    <ul class="tabs tabs-fixed-width teal-text">
                        <li class="tab teal-text"><a href="#CreateGroups" class="active">Groups</a></li>
                        <li class="tab teal-text"><a href="#CreateMachines">Machines</a></li>
                        <li class="tab teal-text"><a href="#ScoreForm">Competition Day Score Form</a></li>
                    </ul>
                </div>

                <div class="card-content grey lighten-4">
                    <form th:action="@{/admindashboard/creategrouping}" method="post">
                        <div id="CreateGroups">
                            <h4>Select Users for Today's Groups</h4>
                            <p><em>(Remember 4 Users Per Group)</em></p>
                            <span><em>Before creating your first group of the day eliminate the previous weeks</em></span>
                            <span>
                                <a class="btn btn-small red darken-2 center" th:href="@{'/deleteUGTable'}">
                                Eliminate groups
                                </a>
                            </span>
                            <table class="responsive-table centered highlight">
                                <thead>
                                <tr>
                                    <th>ID#</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>League</th>
                                    <th>Points</th>
                                    <th>Active Today</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="user : ${users}">
                                    <tr>
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.firstName + ' ' + user.lastName}"></td>
                                        <td th:text="${user.gender}"></td>
                                        <td th:text="${user.getLeague().name}"></td>
                                        <td th:text="${user.points}"></td>
                                        <td>
                                            <p>
                                                <label>
                                                    <input name="uchecked" th:value="${user.id}" type="checkbox"/>
                                                    <span></span>
                                                </label>
                                            </p>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                            <br/>
                            <h4>Select A Group</h4>
                            <label>Group</label>
                            <select class="browser-default" name="group_id">
                                <th:block th:each="group : ${groups}">
                                    <option th:value="${group.id}"
                                            th:text="${group.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div id="CreateMachines">
                            <h3>Select Your Machines</h3>
                            <table class="responsive-table centered highlight">
                                <thead>
                                <tr>
                                    <th>ID#</th>
                                    <th>Name</th>
                                    <th>Active</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="machine : ${machines}">
                                    <tr>
                                        <td th:text="${machine.id}"></td>
                                        <td th:text="${machine.name}"></td>
                                        <td>
                                            <p>
                                                <label>
                                                    <input name="mchecked" th:value="${machine.id}" type="checkbox"/>
                                                    <span></span>
                                                </label>
                                            </p>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                            <br/>
                            <button type="submit" class="btn btn-primary mt-1">Submit</button>
                        </div>
                    </form>

                    <div class="container" id="ScoreForm">
                        <form th:action="@{/week-scores}" method="POST" th:object="${score}">

                            <label>Player</label>
                            <select class="browser-default" th:field="*{user}">
                                <th:block th:each="newUser : ${userselect}">
                                    <option name="user" th:value="${newUser.getId()}"
                                            th:text="${newUser.username}"></option>
                                </th:block>
                            </select>

                            <label>Machine</label>
                            <select class="browser-default" th:field="*{machine}">
                                <th:block th:each="newMachine : ${machiness}">
                                    <option name="machine" th:value="${newMachine.id}"
                                            th:text="${newMachine.name}"></option>
                                </th:block>
                            </select>

                            <div class="input-field col s6">
                                <label for="score">New Score</label>
                                <input th:field="*{score}" placeholder="0" id="score" type="text" class="validate"/>
                            </div>

                            <br/>
                            <br/>
                            <div class="center-align">
                                <button type="submit" class="btn btn-primary">Submit Score</button>
                            </div>
                        </form>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
</main>


<footer>
    <div th:replace="partials/footer :: footer"></div>
    <th:block th:include="partials/footer :: scripts"/>
</footer>

</body>
</html>