<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/head :: head('Admin Dashboard')">
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>

<!--Need to verify ADMIN-->
<!--<div sec:authorize="isAuthenticated()">-->
<!--<h1>Welcome, <span th:text="${#authentication.principal. ?? }"></span></h1>-->
<!--<h1>Welcome, <span th:text="${user.username}"></span></h1>-->
<h1>Welcome, User</h1>

<div class="container" style="position: absolute; margin-left: 5%;">

    <div class="row">

        <!--        profile picture of Admin-->

        <div class="col s4 card-panel hoverable" style="border: 2px solid black; margin-top: 0;"><span class="flow-text">Picture will go here</span></div>

        <!--        table of users-->

        <div class="col s8" style=" border: 2px solid black;">
            <table class="responsive-table centered highlight">
                <thead>
                <tr>
                    <th>ID#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>League</th>
                    <th>Date of Birth</th>
                    <th>Edit / Delete</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="user : ${users}">
                <tr>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName + ' ' + user.lastName}"></td>
                    <td th:text="${user.email}">theiremail@live.com</td>
                    <td th:text="${user.gender}"></td>
                    <td th:text="${user.getLeague().name}"></td>
                    <td th:text="${user.DOB}"></td>
                    <td>
                        <a class="btn btn-primary" th:hidden="${user.id}">
<!--                           th:href="/">-->
<!--                           th:href="@{'/userprofile/'+${user.id} + '/disable'}">-->
                            Disable
                        </a>
<!--                        <a sec:authorize="isAuthenticated()"-->
                        <a class="btn btn-warning mt-1" th:hidden="${user.id}"
                           th:href="@{'/edituser/'+${user.id}}">
                            Edit
                        </a>
                    </td>
                </tr>
                </th:block>
                </tbody>

                <!--*****************-->
<!--                Bottom Nav Card Below              -->
                <!--*****************-->

            </table>
        </div>

        <div class="card" style="position: inherit;">
            <div class="card-tabs" style="height: 20px;">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="active" href="#CG">Create Groups</a></li>
                    <li class="tab"><a href="#CM">Create Machines</a></li>
                    <li class="tab"><a href="#CDSF">Competition Day Score Form</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="CG">
                    <h3>Create Groups</h3>
                    <form th:action="@{/admindashboard/creategroup}" method="post">
                        <table class="responsive-table centered highlight">
                            <thead>
                            <tr>
                                <th>ID#</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>League</th>
                                <th>Active Today</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="user : ${users}">
                                <tr>
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.firstName + ' ' + user.lastName}"></td>
                                    <td th:text="${user.gender}"></td>
                                    <td th:text="${user.getLeague().name}"></td>
                                    <td>
                                        <form action="#">
                                            <p>
                                                <label>
                                                    <input th:hidden="${user.id}" th:value="uchecked" type="checkbox" />
                                                    <span></span>
                                                </label>
                                            </p>
                                        </form>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                        <br />
<!--                        <a class="btn btn-primary mt-1"-->
<!--                           th:href="@{'/creategroups'}">-->
<!--                            Submit-->
<!--                        </a>-->
                        <button type="submit" class="btn btn-primary mt-1">Submit</button>
                    </form>

                </div>
                <div id="CM">
                    <h3>Create Machines</h3>
                    <form th:action="@{/admindashboard/createmachine}" method="post">
                    <table class="responsive-table centered highlight">
                            <thead>
                            <tr>
                                <th>ID#</th>
                                <th>Name</th>
                                <th>Active</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="machine : ${machines}">
                                <tr>
                                    <td th:text="${machine.id}"></td>
                                    <td th:text="${machine.name}"></td>
                                    <td>
                                        <form action="#">
                                            <p>
                                                <label>
                                                    <input th:hidden="${machine.id}" th:value="mchecked" type="checkbox" />
                                                    <span></span>
                                                </label>
                                            </p>
                                        </form>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                        <br />
                        <a class="btn btn-primary mt-1">Submit</a>
                    </form>
                        </div>
                <div id="CDSF">Competition Day Score Form</div>
                <h5>TO COME SOON...</h5>
            </div>
        </div>
    </div>
</div>
<!--</div>-->

<th:block th:include="partials/footer :: scripts" />
</body>
</html>