<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/head :: head('Admin Dashboard')">
</head>
<main style="height: 100%; background-size: cover; background-image: url('img/background-9.jpg')" >

<nav th:replace="partials/navbar :: nav"></nav>
<main>

    <div class="container">
        <h3 class="center">This Week's Scores</h3>
        <div class="header-shadow" style="padding: 1em;">
            <div class="card-content center">
            <form th:action="@{/admindashboard/updatepoints}" method="post">
                <h4 class="center-align white-text">Group 1</h4>
                <br/>
                <div class="center">
                    <table class="responsive-table centered highlight">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="white-text">Player</th>
                            <th class="white-text">Machine</th>
                            <th class="white-text">Score</th>
                            <th style="text-align: right;" th:if="${#httpSession.getAttribute('isAdmin')}" class="white-text">Points For Place</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="scored : ${scores1}">
                            <tr>
                                <td th:text="${scores1.indexOf(scored) +1}" class="white-text"></td>
                                <td th:text="${scored.getUser().username}" class="white-text"></td>
                                <td th:text="${scored.getMachine().name}" class="white-text"></td>
                                <td th:text="${scored.score}" class="white-text"></td>
                                <td>
                                    <div style="margin: 0; text-align: right;" class="input-field" th:if="${#httpSession.getAttribute('isAdmin')}">
                                        <input style="width: 13%;" th:placeholder="${scored.getUser().id}" th:value="${scored.getUser().id}"
                                               name="user" type="text" class="validate white-text" th:readonly="readonly"/>
                                        <input style="width: 13%;" th:placeholder="${scored.getUser().points}" name="points" type="text"
                                               class="validate white-text"/>
                                      </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <br/>
                <button th:if="${#httpSession.getAttribute('isAdmin')}" type="submit" class="btn btn-primary pulse mt-1 light-blue darken-2 center-align">
                    Submit Final Scores
                </button>
            </form>
        </div>
        </div>


        <div>
            <div class="header-shadow" style="padding: 1em;">
                <div class="card-content center">
            <form th:action="@{/admindashboard/updatepoints}" method="post">
                <h4 class="center-align white-text">Group 2</h4>
                <br/>
                <div class="center">
                    <table class="responsive-table centered highlight">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="white-text">Player</th>
                            <th class="white-text">Machine</th>
                            <th class="white-text">Score</th>
                            <th style="text-align: right;" th:if="${#httpSession.getAttribute('isAdmin')}" class="white-text">Points For Place</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="scored : ${scores2}">
                            <tr>
                                <td th:text="${scores2.indexOf(scored) +1}" class="white-text"></td>
                                <td th:text="${scored.getUser().username}" class="white-text"></td>
                                <td th:text="${scored.getMachine().name}" class="white-text"></td>
                                <td th:text="${scored.score}" class="white-text"></td>
                                <td>
                                    <div style="margin: 0; text-align: right;" class="input-field" th:if="${#httpSession.getAttribute('isAdmin')}">
                                        <input style="width: 13%;" th:placeholder="${scored.getUser().id}" th:value="${scored.getUser().id}"
                                               name="user" type="text" th:readonly="readonly" class="white-text"/>
                                        <input style="width: 13%;" th:placeholder="${scored.getUser().points}" name="points" type="text"
                                               class="validate white-text"/>
                                     </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <br/>
                <button th:if="${#httpSession.getAttribute('isAdmin')}" type="submit" class="btn btn-primary pulse mt-1 light-blue darken-2">
                    Submit Final Scores
                </button>
            </form>
        </div>
            </div>

            <div class="header-shadow" style="padding: 1em;">
                <div class="card-content center">
            <form th:action="@{/admindashboard/updatepoints}" method="post">
                <h4 class="center-align white-text">Group 3</h4>
                <br/>
                <div class="center">
                    <table class="responsive-table centered highlight">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="white-text">Player</th>
                            <th class="white-text">Machine</th>
                            <th class="white-text">Score</th>
                            <th style="text-align: right;" th:if="${#httpSession.getAttribute('isAdmin')}" class="white-text">Points For Place</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="scored : ${scores3}">
                            <tr>
                                <td th:text="${scores3.indexOf(scored) +1}" class="white-text"></td>
                                <td th:text="${scored.getUser().username}" class="white-text"></td>
                                <td th:text="${scored.getMachine().name}" class="white-text"></td>
                                <td th:text="${scored.score}" class="white-text"></td>
                                <td>
                                    <div style="margin: 0; text-align: right;" class="input-field" th:if="${#httpSession.getAttribute('isAdmin')}">
                                        <input style="width: 13%;" th:placeholder="${scored.getUser().id}" th:value="${scored.getUser().id}"
                                               name="user" type="text" class="validate white-text" th:readonly="readonly"/>
                                        <input style="width: 13%;" th:placeholder="${scored.getUser().points}" name="points" type="text"
                                               class="validate white-text"/>
                                     </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <br/>
                <button th:if="${#httpSession.getAttribute('isAdmin')}" type="submit" class="btn pulse btn-primary mt-1 light-blue darken-2">
                    Submit Final Scores
                </button>
            </form>
        </div>
            </div>


            <div class="card">
                <div class="card-content center">
            <form th:action="@{/admindashboard/updatepoints}" method="post">
                <h4 class="center-align blue-grey-text">Group 4</h4>
                <br/>
                <div class="center">
                    <table class="responsive-table centered highlight">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Player</th>
                            <th>Machine</th>
                            <th>Score</th>
                            <th style="text-align: right;" th:if="${#httpSession.getAttribute('isAdmin')}">Points For Place</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="scored : ${scores4}">
                            <tr>
                                <td th:text="${scores4.indexOf(scored) +1}"></td>
                                <td th:text="${scored.getUser().username}"></td>
                                <td th:text="${scored.getMachine().name}"></td>
                                <td th:text="${scored.score}"></td>
                                <td>
                                    <div style="margin: 0; text-align: right;" class="input-field" th:if="${#httpSession.getAttribute('isAdmin')}">
                                        <input style="width: 13%;" th:placeholder="${scored.getUser().id}" th:value="${scored.getUser().id}"
                                               name="user" type="text" class="validate" th:readonly="readonly"/>
                                        <input style="width: 13%;" th:placeholder="${scored.getUser().points}" name="points" type="text"
                                               class="validate"/>
                                      </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <br/>
                <button th:if="${#httpSession.getAttribute('isAdmin')}" type="submit" class="btn btn-primary mt-1 light-blue darken-2">
                    Submit Final Scores
                </button>
            </form>
        </div>
    </div>
        </div>
        <br />
        <br />
    </div>
</main>

<footer>
    <div th:replace="partials/footer :: footer"></div>
    <th:block th:include="partials/footer :: scripts"/>
</footer>

</body>
</html>