<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<footer class="page-footer light-blue">
    <div class="container">
        <div class="row">
<!--            <div class="col l6 s12">-->
<!--                <h5 class="white-text">UBall Contributors</h5>-->
<!--                <p class="grey-text text-lighten-4">We are a team...</p>-->
<!--            </div>-->

            <div class="col l4 s12 light-blue">
            <ul class="collection light-blue">
                <li class="collection-item avatar light-blue">
                    <img src="https://placeholder.pics/svg/50" alt="" class="circle" />
                    <span class="title">Team Member</span>
                    <p>Link</p>
                </li>
            </ul>
            </div>
            <div class="col l4 s12 light-blue">
                <ul class="collection light-blue">
                    <li class="collection-item avatar light-blue">
                        <img src="https://placeholder.pics/svg/50" alt="" class="circle" />
                        <span class="title">Team Member</span>
                        <p>Link</p>
                    </li>
                </ul>
            </div>
            <div class="col l4 s12 light-blue">
                <ul class="collection light-blue">
                    <li class="collection-item avatar light-blue">
                        <img src="https://placeholder.pics/svg/50" alt="" class="circle" />
                        <span class="title">Team Member</span>
                        <p>Link</p>
                    </li>
                </ul>
            </div>
            <div class="col l4 s12 light-blue">
                <ul class="collection light-blue">
                    <li class="collection-item avatar light-blue">
                        <img src="https://placeholder.pics/svg/50" alt="" class="circle" />
                        <span class="title">Team Member</span>
                        <p>Link</p>
                    </li>
                </ul>
            </div>
<!--            <div class="col l3 s12">-->
<!--                <h5 class="white-text">Settings</h5>-->
<!--                <ul>-->
<!--                    <li><a class="white-text" href="#!">Link 1</a></li>-->
<!--                    <li><a class="white-text" href="#!">Link 2</a></li>-->
<!--                    <li><a class="white-text" href="#!">Link 3</a></li>-->
<!--                    <li><a class="white-text" href="#!">Link 4</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="col l3 s12">-->
<!--                <h5 class="white-text">Connect</h5>-->
<!--                <ul>-->
<!--                    <li><a class="white-text" href="#!">Link 1</a></li>-->
<!--                    <li><a class="white-text" href="#!">Link 2</a></li>-->
<!--                    <li><a class="white-text" href="#!">Link 3</a></li>-->
<!--                    <li><a class="white-text" href="#!">Link 4</a></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            Made by <a class="brown-text text-lighten-3" href="https://github.com/uball-org/uball">UBall</a>
        </div>
    </div>
</footer>


    <div th:fragment="scripts">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <!-- Compiled and minified JavaScript -->
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"></script>-->
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></script>-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>-->
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
    </div>
</body>
</html>