<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
        <th:block th:text="${title}"></th:block>
    </title>
    <!-- Favicons-->
    <link rel="icon" href="img/logo.png" sizes="32x32" />
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="img/logo.png" />
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4" />
    <meta name="msapplication-TileImage" content="img/logo.png" sizes="144x144" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

</body>
</html>