<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>

<ul id="dropdown1" class="dropdown-content">
    <li><a href="../user/userprofile.html">Profile</a></li>
    <!--            This will go to the Leagues page-->
    <li><a href="#">League</a></li>
<!--    <li sec:authorize="isAuthenticated()">-->
<!--        <a href="../admin/admindashboard.html">Admin Dashboard</a>-->
<!--    </li>-->
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Uball</a>
        <ul class="right hide-on-med-and-down">
            <li sec:authorize="isAuthenticated()"><a class="dropdown-trigger" href="#" data-target="dropdown1">
<!--                <i class="material-icons right">arrow_drop_down</i>-->
            </a></li>
            <li><a href="#">Register</a></li>
            <!--  <li sec:authorize="isAnonymous()">-->
            <li><a href="#">Login</a></li>
<!--            <li sec:authorize="isAuthenticated()">-->
<!--                <form th:action="@{/logout}" th:method="post">-->
<!--                    <button class="btn-link btn">Logout</button>-->
<!--                </form>-->
<!--            </li>-->
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li sec:authorize="isAuthenticated()">
        <a class="dropdown-trigger" href="#" data-target="dropdown1">
        <!--     <i class="material-icons right">arrow_drop_down</i>-->
    </a>
    </li>
    <li><a href="#">Register</a></li>
    <li><a href="#">Login</a></li>
<!--    <li sec:authorize="isAuthenticated()">-->
<!--        <form th:action="@{/logout}" th:method="post">-->
<!--            <button class="btn-link btn">Logout</button>-->
<!--        </form>-->
<!--    </li>-->
</ul>

</body>
</html>