<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

<nav class="navbar-color gradient-45deg-light-blue-cyan">
    <!--    <ul id="dropdown1" class="dropdown-content grey lighten-2">-->
    <!--        <li><a href="/userprofile/1">Profile</a></li>-->
    <!--        <li><a href="/leagues">League</a></li>-->
    <!--        <li sec:authorize="isAuthenticated()">-->
    <!--            <a href="/admindashboard">Admin Dashboard</a>-->
    <!--        </li>-->
    <!--    </ul>-->
    <div class="nav-wrapper navbar-color gradient-45deg-light-blue-cyan">
        <a href="/" class="brand-logo darken-1 valign">
            <img src="img/logo.png" class="navbar-logo" alt="pinball logo" style="width: 50px; height: 50px"/>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
            <li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
            <li sec:authorize="isAuthenticated()"><a class="dropdown-trigger" href="/" data-target="dropdown1">User<i
                    class="material-icons right">arrow_drop_down</i></a></li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn">Logout</button>
                </form>
            </li>
        </ul>
    </div>
    <ul id="dropdown1" class="dropdown-content grey lighten-2">
        <li><a href="/userprofile/1">Profile</a></li>
        <li><a href="/leagues">League</a></li>
        <li sec:authorize="isAuthenticated()">
            <a href="/admindashboard">Admin Dashboard</a>
        </li>
    </ul>
    <!--    <ul id="dropdown2" class="dropdown-content">-->
    <!--        <li><a href="/userprofile/1">Profile</a></li>-->
    <!--        <li><a href="/leagues">League</a></li>-->
    <!--        <li sec:authorize="isAuthenticated()">-->
    <!--            <a href="/admindashboard">Admin Dashboard</a>-->
    <!--        </li>-->
    <!--    </ul>-->
    <ul class="sidenav grey lighten-2" id="mobile-demo">
        <li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
        <li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
        <!--        <li sec:authorize="isAuthenticated()"><a class="dropdown-trigger" href="#" data-target="dropdown2">User<i class="material-icons right">arrow_drop_down</i></a></li>-->
        <li sec:authorize="isAuthenticated()"><a href="/userprofile/1">Profile</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/leagues">League</a></li>
        <li sec:authorize="isAuthenticated()">
            <a href="/admindashboard">Admin Dashboard</a>
        </li>
        <li sec:authorize="isAnonymous()"><a href="/about">About</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/about">About</a></li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn">Logout</button>
            </form>
        </li>
    </ul>
</nav>


</body>
</html>