<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('UBall')">
</head>
<body class="grey lighten-2">
<nav th:replace="partials/navbar :: nav"></nav>
<main style="height: 100%; background-size: cover; background-image: url('img/background-5.jpg')" >

    <div class="row">
        <h1 class="center">Team UBall</h1>
        <div class="col s12 m3 l3">
            <div class="card">
                <div class="card-image">
                    <img src="img/profile-ma.jpg" />
                    <span class="card-title header-shadow">Matthew Alaniz</span>
                </div>
                <div class="card-action center">
                    <a class="about-link" href="https://github.com/MaJalaniz"><img src="/img/GitHub-Mark-32px.png" alt="github_image"/></a>
                    <a class="about-link" href="https://www.linkedin.com/in/matthew-j-alaniz/"><img src="/img/linkedin.png" alt="linkedin_image"/></a>
                    <a class="about-link" href="https://alumni.codeup.com/students/650"><img src="/img/codeup-logo.png" width="32px" height="32px" alt="codeup-image"/> </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l3">
            <div class="card">
                <div class="card-image">
                    <img src="img/profile-ab.png" />
                    <span class="card-title header-shadow">Ali Baraka</span>
                </div>
                <div class="card-action center">
                    <a class="about-link" href="https://github.com/abaraka210"><img src="/img/GitHub-Mark-32px.png" alt="github_image"/></a>
                    <a class="about-link" href="https://www.linkedin.com/in/abaraka210"><img src="/img/linkedin.png" alt="linkedin_image"/></a>
                    <a class="about-link" href="https://alumni.codeup.com/students/642"><img src="/img/codeup-logo.png" width="32px" height="32px" alt="codeup-image"/></a>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l3">
            <div class="card">
                <div class="card-image">
                    <img src="img/profile-nb.jpg" />
                    <span class="card-title header-shadow">Nadia Botello</span>
                </div>
                <div class="card-action center">
                    <a class="about-link" href="https://github.com/nadiabotello"><img src="/img/GitHub-Mark-32px.png" alt="github_image"/></a>
                    <a class="about-link" href="https://www.linkedin.com/in/nadiabotello"><img src="/img/linkedin.png" alt="linkedin_image"/></a>
                    <a class="about-link" href="https://alumni.codeup.com/students/636"><img src="/img/codeup-logo.png" width="32px" height="32px" alt="codeup-image"/></a>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l3">
            <div class="card">
                <div class="card-image">
                    <img src="img/profile-mc.png" />
                    <span class="card-title header-shadow">Mykal Clinard</span>
                </div>
                <div class="card-action center">
                    <a class="about-link" href="https://github.com/ClinMyk2018"><img src="/img/GitHub-Mark-32px.png" alt="github_image"/></a>
                    <a class="about-link" href="https://www.linkedin.com/in/mykal-clinard"><img src="/img/linkedin.png" alt="linkedin_image"/></a>
                    <a class="about-link" href="https://alumni.codeup.com/students/639"><img src="/img/codeup-logo.png" width="32px" height="32px" alt="codeup-image"/></a>
                </div>
            </div>
        </div>

    </div>
    <div class="row center">
        <div class="col s12 m12 l12">
            <h1 class="center"><a href="/play" class="purple-text">* Click to play *</a></h1>
            <br />
        </div>
    </div>



</main>

<div th:replace="partials/footer :: footer"></div>
<th:block th:include="partials/footer :: scripts" />

</body>
</html>