<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('UBall')">
</head>
<body class="grey lighten-2">
<nav th:replace="partials/navbar :: nav"></nav>
<main>

    <div class="row">
        <h1 class="center">Contributors</h1>
        <div class="col s12 m3 l3">
            <div class="card">
                <div class="card-image">
                    <img src="img/profile-ma.jpg" />
                    <span class="card-title">Matthew Alaniz</span>
                </div>
<!--                <div class="card-content">-->
<!--                    <p>I am a very simple card. I am good at containing small bits of information.-->
<!--                        I am convenient because I require little markup to use effectively.</p>-->
<!--                </div>-->
                <div class="card-action center">
                    <a href="https://github.com/MaJalaniz">Github</a>
                    <a href="https://www.linkedin.com/in/matthew-j-alaniz/">LinkedIn</a>
                    <a href="https://alumni.codeup.com/students/650">Resume</a>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l3">
            <div class="card">
                <div class="card-image">
                    <img src="img/profile-ab.png" />
                    <span class="card-title">Ali Baraka</span>
                </div>
<!--                <div class="card-content">-->
<!--                    <p>I am a very simple card. I am good at containing small bits of information.-->
<!--                        I am convenient because I require little markup to use effectively.</p>-->
<!--                </div>-->
                <div class="card-action center">
                    <a href="https://github.com/abaraka210">Github</a>
                    <a href="https://www.linkedin.com/in/abaraka210">LinkedIn</a>
                    <a href="https://alumni.codeup.com/uploads/681-1563752677.pdf">Resume</a>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l3">
            <div class="card">
                <div class="card-image">
                    <img src="img/profile-nb.jpg" />
                    <span class="card-title">Nadia Botello</span>
                </div>
<!--                <div class="card-content">-->
<!--                    <p>I am a very simple card. I am good at containing small bits of information.-->
<!--                        I am convenient because I require little markup to use effectively.</p>-->
<!--                </div>-->
                <div class="card-action center">
                    <a href="https://github.com/nadiabotello">Github</a>
                    <a href="https://www.linkedin.com/in/nadiabotello">LinkedIn</a>
                    <a href="https://alumni.codeup.com/uploads/675-1563405430.pdf">Resume</a>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l3">
            <div class="card">
                <div class="card-image">
                    <img src="img/profile-mc.png" />
                    <span class="card-title">Mykal Clinard</span>
                </div>
<!--                <div class="card-content">-->
<!--                    <p>I am a very simple card. I am good at containing small bits of information.-->
<!--                        I am convenient because I require little markup to use effectively.</p>-->
<!--                </div>-->
                <div class="card-action center">
                    <a href="https://github.com/ClinMyk2018">Github</a>
                    <a href="https://www.linkedin.com/in/mykal-clinard">LinkedIn</a>
                    <a href="https://alumni.codeup.com/uploads/678-1561956297.pdf">Resume</a>
                </div>
            </div>
        </div>

    </div>



</main>

<div th:replace="partials/footer :: footer"></div>
<th:block th:include="partials/footer :: scripts" />

</body>
</html>