<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/head :: head('Edit User')">
</head>
<body class="grey lighten-2">
<nav th:replace="partials/navbar :: nav"></nav>


<main class="container " >
    <form th:action="@{'/edituser/' + ${user.id}}" method="POST" th:object="${user}" >
        <label for="firstName">First Name</label>
        <br/>
        <input id="firstName" th:field="*{firstName}" />
        <br/>
        <label for="lastName">Last Name</label>
        <br/>
        <input id="lastName" th:field="*{lastName}" />
        <br/>
        <label for="email">Email</label>
        <br/>
        <input id="email" th:field="*{email}" />
        <br/>
        <label for="DOB">Date of Birth</label>
        <br/>
        <input id="DOB" type="date" th:field="*{DOB}" />
        <br/>
        <label>Gender</label>
        <select class="browser-default" th:field="*{gender}">
            <option value="0" >Choose your option</option>
            <option th:value="M" th:text="M" ></option>
            <option th:value="F" th:text="F" ></option>
        </select>
        <br/>
        <label>League</label>
        <select class="browser-default" th:field="*{league}">
            <option value="0" >Choose your option</option>
            <option th:value="1" th:text="SAPL" ></option>
            <option th:value="2" th:text="Belles" ></option>
        </select>
        <br/>
        <br/>
        <input value="Update" type="submit" />
    </form>
    <br class="mb-1" />

<!--admin edit user view &#45;&#45;-->

<!--is_admin field-->
<!--points field-->
<!--league_id field-->

</main>





<footer>
    <div th:replace="partials/footer :: footer"></div>
    <th:block th:include="partials/footer :: scripts" />
</footer>

</body>
</html>