<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Physics-based pinball game. Use the left/right arrow keys for paddles." />

    <title>Play</title>

    <link rel="icon" type="image/png" href="img/logo.png" />
    <link href="/css/play.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/poly-decomp.min.js"></script>
    <script src="js/matter-js-0.12.0/build/matter.min.js"></script>
    <script src="js/matter-attractors.min.js"></script>
    <script src="js/play.js"></script>
</head>
<body>
<main>
<div class="container">
    <div class="score current-score">
        <br /><span></span>
    </div>
    <div class="score high-score">
        <br /><span></span>
    </div>
    <button class="trigger left-trigger">tap!</button>
    <button class="trigger right-trigger">tap!</button>
</div>
</main>
</body>
</html>