<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('UBall Register')">
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>

<h2 class="center-align">Register</h2>

<main class="container">
    <form th:action="@{/register}" method="POST" th:object="${user}" >
        <label for="username">Username</label>
        <br/>
        <input id="username" th:field="*{username}" />
        <br/>
        <label for="firstName">First Name</label>
        <br/>
        <input id="firstName" th:field="*{firstName}" />
        <br/>
        <label for="lastName">Last Name</label>
        <br/>
        <input id="lastName" th:field="*{lastName}" />
        <br/>
        <label for="password">Password</label>
        <br/>
        <input id="password" type="password" th:field="*{password}" />
        <br/>
        <label for="email">Email</label>
        <br/>
        <input id="email" th:field="*{email}" />
        <br/>
        <label for="DOB">Date of Birth</label>
        <br/>
        <input id="DOB" type="date" th:field="*{DOB}" />
        <br/>

        <label>Gender</label>
        <select class="browser-default">
            <option value="" >Choose your option</option>
            <option value="M">M</option>
            <option value="F">F</option>
        </select>
        <br/>
            <label>League</label>
            <select class="browser-default">
                <option value="" >Choose your option</option>
                <option value="Belles">Belles</option>
                <option value="SAPL">SAPL</option>
            </select>
        <br/>
        <br/>
        <!--<input value="Sign me up!" type="submit" /> -->
        <div class="center-align">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
    <br class="mb-1" />
</main>


</body>
</html>