<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('UBall Register')">
</head>
<body class="grey lighten-2" style="background-image: url('img/background-6.jpg');">
<nav th:replace="partials/navbar :: nav"></nav>

<h2 class="center-align">Register</h2>

<main class="container">
    <div class="header-shadow" style="padding: .5em;">
        <div class="card-content white-text">
    <form th:action="@{/register}" method="POST" th:object="${user}">
        <label for="username" class="white-text">Username</label>
        <br/>
        <input id="username" th:field="*{username}"/>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"/>
        <br/>
        <label for="firstName" class="white-text">First Name</label>
        <br/>
        <input id="firstName" th:field="*{firstName}"/>
        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red;"/>
        <br/>
        <label for="lastName" class="white-text">Last Name</label>
        <br/>
        <input id="lastName" th:field="*{lastName}"/>
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red;"/>
        <br/>
        <label for="password" class="white-text">Password</label>
        <br/>
        <input id="password" type="password" th:field="*{password}"/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"/>
        <br/>
        <label for="email" class="white-text">Email</label>
        <br/>
        <input id="email" th:field="*{email}"/>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"/>
        <br/>
        <label for="DOB" class="white-text">Date of Birth</label>
        <br/>
        <input id="DOB" type="date" th:field="*{DOB}"/>
        <p th:if="${#fields.hasErrors('DOB')}" th:errors="*{DOB}" style="color: red;"/>
        <br/>

        <label class="white-text">Gender</label>
        <select class="browser-default" th:field="*{gender}">
            <option value="M">Choose your option</option>
            <option value="M" th:text="M"></option>
            <option value="F" th:text="F"></option>
        </select>
        <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" style="color: red;"/>
        <br/>

        <label class="white-text">League</label>
        <select class="browser-default" th:field="*{league}">
            <option value="1">Choose your option</option>
            <option value="1" th:text="SAPL"></option>
            <option value="2" th:text="Belles"></option>
        </select>
        <p th:if="${#fields.hasErrors('league')}" th:errors="*{league}" style="color: red;"/>
        <br/>
        <div class="center-align">
            <button type="submit" class="btn pulse waves-effect waves-light red accent-3">Register</button>
        </div>
        <br/>
    </form>
        </div>
    </div>
    <br/>
</main>

<div th:replace="partials/footer :: footer"></div>
<th:block th:include="partials/footer :: scripts"/>

</body>
</html>