<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/head :: head('User Profile')">
</head>
<body class="grey lighten-2">
<nav th:replace="partials/navbar :: nav"></nav>
<main style=" height: 100%; background-size:cover; background-image: url('img/pinball_400.gif')" >

<div class="container">

    <br/>
        <div class="col s12">
            <div class="row">
                <div class="col s12 m4 l4">
                    <div class="card-panel gradient-45deg-light-blue-cyan">
                        <div class="card-content center">
                            <span class="card-title grey-text text-darken-4"><h3><em><span th:text="${user.username}"></span></em></h3></span>
                            <p>
                                <i class="material-icons">perm_identity</i> <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></p>
                            <p>
                                <i class="material-icons">import_contacts</i> <span th:text=" ${#dates.format(user.DOB, 'dd-MMM-yyyy')}"></span></p>
                                <i class="material-icons">wc</i> <span th:text=" ${user.gender}"></span>
                            <p>
                                <i class="material-icons">email</i> <span th:text=" ${user.email}"></span></p>
                        </div>
                        <div class="row center">
                            <a th:href="@{'/edituser/' + ${user.id}}" id="edit-button"
                               class="btn-floating activator btn-move-up waves-effect waves-light red accent-2 z-depth-4"><i class="material-icons">edit</i></a>
                        </div>
                    </div>
                </div>

    <div class="card s12 m8 l8">
        <div class="card-content col s12 m8 l8">

                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a class="active" href="#Indiv">INDIVIDUAL</a></li>
                        <li class="tab"><a href="#OvA">OVERALL</a></li>
                    </ul>
                </div>
                <div id="Indiv" style="color: whitesmoke;">
                    <table class="responsive-table centered highlight header-shadow">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Machine Name</th>
                            <th>Date Played</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="score : ${scores}">
                            <tr>
                                <td th:text="${scores.indexOf(score) + 1 }"></td>
                                <td th:text="${score.getMachine().name}"></td>
                                <td th:text="${score.getAddedscoredate()}"></td>
                                <td th:text="${score.score}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div id="OvA" style="color: whitesmoke;">
                    <table class="responsive-table centered header-shadow">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Machine Name</th>
                            <th>Date Played</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="scoremachine : ${scoremach}">
                            <tr>
                                <td th:text="${scoremach.indexOf(scoremachine) + 1 }"></td>
                                <td th:text="${scoremachine.getMachine().name}"></td>
                                <td th:text="${scoremachine.addedscoredate}"></td>
                                <td th:text="${scoremachine.score}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                </div>
    </div>
</div>
</div>
</div>

</main>


<footer>
    <div th:replace="partials/footer :: footer"></div>
    <th:block th:include="partials/footer :: scripts"/>
</footer>

</body>
</html>