<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Create Groups')">
</head>
<body class="gradient-45deg-indigo-purple">
<nav th:replace="partials/navbar :: nav"></nav>


<main class="container">

    <h1 class="center">Groups List</h1>
    <div class="center-align">
        <a class="waves-effect waves-light btn pulse center light-blue darken-2" th:href="@{'/groups/create'}">Create New Group</a>
    </div>
    <br/>

    <div class="header-shadow" style="padding: 1em;">
        <div class="card-content">
<div align="center">
    <table border="1" cellpadding="10" class="highlight">
        <thead>
        <tr>
            <th class="white-text">Group ID</th>
            <th class="white-text">Name</th>
            <th class="white-text">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td th:text="${group.id}" class="white-text">Group ID</td>
            <td th:text="${group.name}" class="white-text">Name</td>
            <td>
                <a class=" btn btn-small light-blue darken-2 center" th:href="@{'/groups/' + ${group.id} +'/edit'}">Edit</a>

                <a class="btn btn-small red center" th:href="@{'/groups/' + ${group.id} + '/delete'}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
        </div>
    </div>
    <br/>
    <br/>
</main>

<footer>
    <div th:replace="partials/footer :: footer"></div>
    <th:block th:include="partials/footer :: scripts" />
</footer>
</body>
</html>