<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Admin Groups')">
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>

<div align="center">
    <h1>Groups List</h1>
    <a class="waves-effect waves-light btn " th:href="@{'/groups/create'}">Create New Group</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Group ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td th:text="${group.id}">Group ID</td>
            <td th:text="${group.name}">Name</td>
            <td>
                <a th:href="@{'/groups/' + ${group.id} +'/edit'}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/groups/' + ${group.id} + '/delete'}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer>
    <div th:replace="partials/footer :: footer"></div>
    <th:block th:include="partials/footer :: scripts" />
</footer>
</body>
</html>