<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="partials/head :: head('500 Error')">
</head>
<body class="grey lighten-2">

<nav th:replace="partials/navbar :: nav"></nav>

<main>
<div class="container col s12 m4 l4">
    <br />
<div>
    <div class="col s12 m4 l4 center error">
        <h1><strong>500 Error</strong></h1>
    </div>
    <br />
</div>
</div>


</main>
<footer>
    <div th:replace="partials/footer :: footer"></div>
    <th:block th:include="partials/footer :: scripts" />
</footer>
</body>
</html>