<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Welcome to UBall')">
</head>
<body>
    <nav th:replace="partials/navbar :: nav"></nav>

    <h1>Myk check...</h1>


    <div id="logIn" class="row">
        <form th:action="@{/}" method="post" class="col s12">
            <label for="email">Email</label>
            <br/>
            <input id="email" name="email" type="text" />
            <br/>
            <label for="password">Password</label>
            <br/>
            <input id="password" name="password" type="password" />
            <br/>
            <br/>
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Log In
            </button>
        </form>
    </div>




    <th:block th:include="partials/footer :: scripts" />
</body>
</html>