<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/head :: head('UBall')">
</head>
<body class="grey lighten-2">
<nav th:replace="partials/navbar :: nav"></nav>

<main>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br/><br/>
                <div class="row center header-shadow">
                    <h2 class="header col s12 light header-text"><strong>UBall is a management system for San Antonio pinball
                        leagues</strong></h2>
                </div>

                <div class="row center">
                    <a href="/register" id="register-button" sec:authorize="isAnonymous()"
                       class="btn-large pulse waves-effect waves-light red accent-3">Register</a>
                </div>
                <br/><br/>


            </div>
        </div>
        <div class="parallax"><img src="img/background-5.jpg" alt="Unsplashed background img 1" class="header-img"/>
        </div>
    </div>


    <div class="container grey lighten-2">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text text-darken-2"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Speeds Up Tournaments</h5>

                        <p class="light center">Easier match play administration</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text text-darken-2"><i class="material-icons">group</i></h2>
                        <h5 class="center">User Experience Focused</h5>

                        <p class="light center">Web and mobile responsive</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text text-darken-2"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Simple To Use</h5>

                        <p class="light center">Register and GO!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light"></h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="img/background-10.jpg" alt="Unsplashed background img 2" style="background-size: cover;"/></div>
    </div>


</main>

<div th:replace="partials/footer :: footer"></div>
<th:block th:include="partials/footer :: scripts"/>

</body>
</html>