<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Create League')">
</head>
<body class="grey lighten-2">
    <nav th:replace="partials/navbar :: nav"></nav>


    <main class="container">

        <h3 class="center">Create New League</h3>

        <div class="card">
            <div class="card-content">

            <form  th:action="@{/leagues/create}" method="POST" th:object="${leaguesForm}">

                <div class="form-group">
                    <label for="name">League Name</label>
                    <input id="name" type="text" th:field="*{name}" />
                </div>
                <div class="center-align">
                    <button type="submit" class="btn btn-primary waves-effect waves-light light-blue darken-2" >Save</button>
                </div>
            </form>
                <br />
        </div>
    </div>
    </main>
    <footer>
        <div th:replace="partials/footer :: footer"></div>
        <th:block th:include="partials/footer :: scripts" />
    </footer>
</body>
</html>