<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Edit League')">
</head>
<body class="grey lighten-2">
    <nav th:replace="partials/navbar :: nav"></nav>

    <main class="container">

        <h3 class="center">Edit League</h3>

        <div class="card">
            <div class="card-content">
                <form th:action="@{'/leagues/' + ${thisLeague.id} + '/edit'}" th:object="${thisLeague}" method="post">
                    <div class="form-group">
                        <label for="id">League ID</label>
                        <input id="id" type="text" th:field="*{id}" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <label for="name">League Name</label>
                        <input id="name" type="text" th:field="*{name}" />
                    </div>
                    <div class="center-align">
                        <button type="submit" class="btn btn-primary waves-effect waves-light light-blue darken-2" >Save</button>
                    </div>
                </form>
            </div>
        </div>
        <br />

    </main>
    <footer>
        <div th:replace="partials/footer :: footer"></div>
        <th:block th:include="partials/footer :: scripts" />
    </footer>
</body>
</html>