<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Create Machine')">
</head>
<body class="gradient-45deg-indigo-purple">
    <nav th:replace="partials/navbar :: nav"></nav>

    <main class="container">

        <h3 class="center">Create New Machine</h3>

        <div class="header-shadow" style="padding: 1em;">
            <div class="card-content">

            <form  th:action="@{/machines/create}" method="POST" th:object="${machinesForm}">
                <div class="form-group">
                    <label for="name" class="white-text">Machine Name</label>
                    <input id="name" type="text" th:field="*{name}" />
                </div>
                <div class="center-align">
                    <button type="submit" class="btn btn-primary waves-effect waves-light light-blue darken-2" >Save</button>
                </div>
            </form>
                <br />
        </div>
    </div>
    </main>
    <footer>
        <div th:replace="partials/footer :: footer"></div>
        <th:block th:include="partials/footer :: scripts" />
    </footer>
</body>
</html>